:root {
    --main-color: rgba(70, 58, 207, 0.8);
    --primeira-cor-texto: #fff;
    --segunda-cor-texto: #191919;
    --segunda-cor: #868686;
    --terceira-cor: #eff3f4;
}


*{
    font-family: Lato;
    padding: 0; 
    margin: 0;
    box-sizing: border-box;
    color: white;
}

body {
    min-height: 90vh;
    font-family: Lato;
    padding: 0; 
    margin: 0;
    background-image: url("/Roger/gaita/img/mulher.jpg");
    background-size: cover;
    background-position: center;
    margin-bottom: 4rem;
}

div {
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 15px;
    color: white;
    text-align: center;
}

input {
    padding: 10px;
    border: none;
    outline: none;
    font-size: 15px;
}

button {
    background-color: dodgerblue;
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 10px;
    color: white;
    font-size: 15px;
}

button:hover {
    background-color: deepskyblue;
    cursor: pointer;
}

a:link {
    text-decoration: none;
}

.menu_topo{
    position: absolute;
    font-family: Lato;
    left: 75%;
    top: 20px;
    color: white;
    font-size: 16px;
}

#marca {
    background-color: rgba(37, 20, 185, 0.8);
    padding: 1rem;
    box-shadow: 2px 2px #f1ecec;
    color: white;
    width: 100%;
    font-family: Lato;
}